@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "CustomFont";
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-style: normal;
  }
  
@font-face {
font-family: "CustomFont";
src: url("/fonts/NotoSansTC-VariableFont_wght.ttf") format("truetype");
font-style: normal;
unicode-range: U+4E00-9FFF;
}

html, body {
  @apply bg-white text-gray-600 font-[CustomFont]
}
